{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

sudo apt-get update --assume-yes
sudo apt-get upgrade --assume-yes

{{   if not (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
sudo apt-get install --assume-yes \
	xinit \
	ratpoison \
	xterm \
	syncthing \
{{   end }}

sudo apt-get install --assume-yes \
	age \
	gh \
	git \
	golang-go \
	gopls \
	python3-venv \
	pipx \
	ripgrep \

sudo apt autoremove --assume-yes

pipx install jedi-language-server
pipx ensurepath

sudo snap refresh
sudo snap install emacs --classic
sudo snap install chezmoi --classic

{{   if not (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
sudo snap install firefox
{{   end }}

{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh

# Brewfile hash: {{ include "Brewfile" | sha256sum }}
brew bundle --file {{ joinPath .chezmoi.sourceDir "Brewfile" | quote }}
gh extension install github/gh-copilot
gh extension upgrade copilot
# tool-versions hash: {{ include "dot_tool-versions" | sha256sum }}
asdf install
{{ end -}}

