#!/bin/sh

brew bundle --file=/dev/stdin <<EOF

{{ if (and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) -}}
brew "beancount"
brew "gcc"
brew "gh"
brew "git"
brew "go"
brew "gopls"
brew "ripgrep"
brew "sqlite"

cask "claude-code"
{{ else if (eq .chezmoi.os "darwin") -}}
brew "asdf"
brew "awscli"
brew "bitwarden-cli"
brew "ca-certificates"
brew "chezmoi"
brew "cmake" # for vterm
brew "coreutils"
brew "dnsmasq"
brew "docker-compose"
brew "findutils"
brew "fzf"
brew "gh"
brew "git"
brew "git-lfs"
brew "gleam"
brew "gnu-sed"
brew "gpg"
brew "graphviz"
brew "grpcurl"
brew "helix"
# brew "kubectx"
# brew "kubens"
brew "kubie" # alternative above
brew "libpq", link: true
brew "libtool" # for vterm
brew "libvterm" # for vterm
brew "ripgrep"
brew "typescript-language-server"

cask "claude"
cask "claude-code"
cask "docker-desktop"
cask "emacs"
cask "font-maple-mono"
cask "ghostty"
cask "google-chrome"
cask "notunes"
cask "slack"
cask "visual-studio-code"
{{ end -}}
EOF
