#!/bin/sh

brew bundle --file=/dev/stdin <<EOF

{{ if (and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) -}}
brew "beancount"
brew "gcc"
brew "gh"
brew "git"
brew "go"
brew "gopls"
brew "jq"
brew "pandoc"
brew "ripgrep"
# brew "skills"
brew "sqlite"
brew "uv"

cask "claude-code@latest"
cask "font-noto-emoji"
{{ else if (eq .chezmoi.os "darwin") -}}
brew "auth0"
brew "awscli"
brew "ca-certificates"
brew "chezmoi"
brew "coreutils"
brew "diffnav"
brew "dnsmasq"
brew "findutils"
brew "fzf"
brew "gh"
brew "git"
brew "git-lfs"
brew "gnu-sed"
brew "gpg"
brew "graphviz"
brew "grafana/grafana/gcx"
brew "grpcurl"
# brew "kubectx"
# brew "kubens"
brew "kubie" # alternative above
brew "libpq", link: true
brew "mise"
brew "pandoc"
brew "rclone"
brew "ripgrep"
brew "scc"
# brew "skills"
brew "typescript-language-server"
brew "uv"

cask "claude-code@latest"
cask "emacs"
cask "notunes"
{{ end -}}
EOF
