#!/bin/sh

brew bundle --file=/dev/stdin <<EOF

{{ if (and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) -}}
brew "beancount"
brew "gcc"
brew "gh"
brew "git"
brew "go"
brew "gopls"
brew "jq"
brew "prek"
brew "ripgrep"
brew "sqlite"
brew "uv"

cask "claude-code"
cask "font-noto-emoji"
{{ else if (eq .chezmoi.os "darwin") -}}
brew "awscli"
brew "bitwarden-cli"
brew "ca-certificates"
brew "chezmoi"
brew "coreutils"
brew "diffnav"
brew "dnsmasq"
brew "docker-compose"
brew "findutils"
brew "fzf"
brew "gh"
brew "git"
brew "git-lfs"
brew "gnu-sed"
brew "gpg"
brew "graphviz"
brew "grpcurl"
brew "helix"
# brew "kubectx"
# brew "kubens"
brew "kubie" # alternative above
brew "lazygit"
brew "libpq", link: true
brew "mise"
brew "prek"
brew "rclone"
brew "ripgrep"
brew "tmux"
brew "typescript-language-server"
brew "uv"

tap "auth0/auth0-cli"
brew "auth0"

cask "chatgpt"
cask "claude"
cask "claude-code"
cask "cmux"
cask "docker-desktop"
cask "emacs"
# cask "font-maple-mono"
cask "font-hack-nerd-font"
cask "font-noto-emoji"
cask "ghostty"
cask "google-chrome"
cask "notunes"
cask "slack"
# cask "visual-studio-code"
cask "zed"
{{ end -}}
EOF
