{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

sudo apt-get update --assume-yes
sudo apt-get upgrade --assume-yes

sudo apt-get install --assume-yes \
	gh \
	git \
	golang-go \
	gopls \
	python3-venv \
	pipx \
	ripgrep \
	sqlite3 \

{{   if not (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
#sudo apt-get install jwm
#sudo apt-get install build-essential debhelper git pandoc shunit2
#git clone https://github.com/mkropat/jumpapp.git
#cd jumpapp
#make deb
#sudo dpkg -i jumpapp*all.deb
{{   end }}

sudo apt autoremove --assume-yes

pipx install jedi-language-server
pipx install beancount
pipx ensurepath

#mkdir -p ~/.npm-global/lib
#npm config set prefix '~/.npm-global'
#npm install -g @devcontainers/cli
#npm install -g @google/gemini-cli

# Snaps

sudo snap refresh
sudo snap install emacs --classic
sudo snap install chezmoi --classic

{{   if not (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
sudo snap install vivaldi 
{{   end }}

{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh

# Brewfile hash: {{ include "Brewfile" | sha256sum }}
brew bundle --file {{ joinPath .chezmoi.sourceDir "Brewfile" | quote }}
gh extension install github/gh-copilot
gh extension upgrade copilot
gh extension install davidraviv/gh-clean-branches
gh extension upgrade davidraviv/gh-clean-branches
# tool-versions hash: {{ include "dot_tool-versions" | sha256sum }}
asdf install || true
# The Software Development Kit Manager for Java
curl -s "https://get.sdkman.io" | bash
# Genkit CLI
curl -sL cli.genkit.dev | uninstall=true bash
curl -sL cli.genkit.dev | bash
{{ end -}}

