[".vim/pack/vendor/opt/lsp"]
    type = "git-repo"
    url = "https://github.com/yegappan/lsp.git"
{{ if eq .chezmoi.os "darwin" -}}
{{ else if eq .chezmoi.os "linux" -}}
["/bin/cook"]
type = "archive"
    url = "https://github.com/cooklang/cookcli/releases/latest/download/cook-x86_64-unknown-linux-gnu.tar.gz"
    exact = true
    stripComponents = 1
{{ end -}}
