{{ if eq .chezmoi.os "darwin" -}}
#[age]
#    identity = "/Users/xavier/Documents/org/age_chezmoi"
#    recipients = ["age1h7lzyeeg7d575s28l4lug0jr6lyu5ywlnnrn2f040ypnktn6496qxd6t3p", "age1nudm5c3ea7qpnv43ahxdf8w7xk3hgdaljs8rfrezqr8m3y8r6feqcnrg63"]
{{ else if eq .chezmoi.os "linux" -}}
#[age]
#    identity = "/home/xavier/org/age_chezmoi"
#    recipients = ["age1h7lzyeeg7d575s28l4lug0jr6lyu5ywlnnrn2f040ypnktn6496qxd6t3p", "age1nudm5c3ea7qpnv43ahxdf8w7xk3hgdaljs8rfrezqr8m3y8r6feqcnrg63"]
{{ end -}}



