{{ if eq .chezmoi.os "darwin" -}}
{{ else if eq .chezmoi.os "linux" -}}
[age]
    identity = "/home/xavier/Documents/org/age_chezmoi"
    recipient = "age1h7lzyeeg7d575s28l4lug0jr6lyu5ywlnnrn2f040ypnktn6496qxd6t3p"
{{ end -}}



