[".vim/pack/vendor/opt/lsp"]
    type = "git-repo"
    url = "https://github.com/yegappan/lsp.git"
[".vim/pack/vendor/opt/nofrils"]
    type = "git-repo"
    url = "https://github.com/robertmeta/nofrils.git"
{{ if eq .chezmoi.os "darwin" -}}
{{ else if eq .chezmoi.os "linux" -}}
{{ end -}}
