auto-save-list/
backups/
bookmarks
eln-cache/
eshell/
url/
elfeed/
straight/
transient/
newsticker/
tramp

early-init.el
init.el
config.el

elpa/
projects
.cache/
image-dired/
.lsp-session-v1
.org-id-locations
\#recentf\#
\#*\#
