{{ if eq .chezmoi.os "linux" -}}
{{   if eq .chezmoi.osRelease.id "opensuse-tumbleweed" -}}
#!/bin/sh

sudo zypper --non-interactive refresh
sudo zypper --non-interactive install \
	age \
	bitwarden \
	chezmoi \
	emacs \
	flatpak \
	gdouros-symbola-fonts \
	gh \
	git \
	gnu-unifont-otf-fonts \
	google-noto-coloremoji-fonts \
	mpv \
	python311-pipx \
	zip \

flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
sudo flatpak install -y \
	com.valvesoftware.Steam \
	com.discordapp.Discord \
	com.bitwarden.desktop \
	com.github.tchx84.Flatseal \

# development tooling
pipx install jedi-language-server
{{   else if eq .chezmoi.osRelease.id "ubuntu" -}}
#!/bin/sh

sudo apt-get update
sudo apt-get upgrade
sudo apt-get install --assume-yes \
	age \
	gh \
	git \
        golang-go \

sudo apt autoremove

sudo snap refresh
sudo snap install emacs --classic

{{   end -}}
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh

# Brewfile hash: {{ include "Brewfile" | sha256sum }}
brew bundle --file {{ joinPath .chezmoi.sourceDir "Brewfile" | quote }}
gh extension install github/gh-copilot
{{ end -}}

