{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

sudo zypper --non-interactive install chezmoi \
                                      zip \
                                      git \
                                      gh \
                                      emacs \
                                      gnu-unifont-otf-fonts \
                                      google-noto-coloremoji-fonts \
                                      gdouros-symbola-fonts \
                                      bitwarden \
                                      mpv \
                                      flatpak \

flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
sudo flatpak install -y com.valvesoftware.Steam \
                   com.discordapp.Discord \
                   com.bitwarden.desktop \
                   com.github.tchx84.Flatseal \
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh

# Brewfile hash: {{ include "Brewfile" | sha256sum }}
brew bundle --file {{ joinPath .chezmoi.sourceDir "Brewfile" | quote }}
{{ end -}}

