[user]
	name = Xavier Capaldi
	email = 38892330+xcapaldi@users.noreply.github.com
[core]
	excludesFiles = ~/.config/git/ignore
[pull]
	ff = only
[merge]
	conflictstyle = diff3
[credential "https://github.com"]
	helper = 
{{ if eq .chezmoi.os "linux" -}}
	helper = !/usr/bin/gh auth git-credential
{{ else if eq .chezmoi.os "darwin" -}}
	helper = !/opt/homebrew/bin/gh auth git-credential
{{ end -}}
[credential "https://gist.github.com"]
	helper = 
{{ if eq .chezmoi.os "linux" -}}
	helper = !/usr/bin/gh auth git-credential
{{ else if eq .chezmoi.os "darwin" -}}
	helper = !/opt/homebrew/bin/gh auth git-credential
{{ end -}}
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
